:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
  --background-secondary-section: #f4f4fd;
  --footer-text-coclor: #e7e9fc;
  --button-hover-color: #404bbf;
  --footer-soc-bg-color: rgba(255, 255, 255, 0.1);
  --footer-soc-bg-hover: #31d0aa;
  --hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.footer > .container,
.header > .container {
  display: flex;
}
.list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  transition: color var(--hover-transition);
}
.logo-web {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 600;
  text-decoration: none;
  transition: color var(--hover-transition);
}
.site-nav .link.current {
  color: var(--button-hover-color);
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--button-hover-color);
  border-radius: 2px;
  left: 0;
  bottom: -28px;
}
.site-nav .link:hover,
.site-nav .link:focus,
.address .link:hover,
.address .link:focus,
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.address {
  display: flex;
  gap: 40px;
}
.address .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color var(--hover-transition);
}
.hero {
  max-width: 1440px;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--title-text-color);
  color: var(--white-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero .hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--hover-transition);
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--button-hover-color);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.advantages-list .title,
.team-list .title,
.project-list .link-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-padding {
  padding-top: 120px;
}
.portfolio-padding {
  padding-top: 96px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.advantages-list .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.advantages-pic {
  width: 264px;
  height: 112px;
  background: var(--background-secondary-section);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.project-list .link-text {
  color: var(--primary-text-color);
}
.section-secondary {
  background-color: var(--background-secondary-section);
  text-align: center;
}

.button-list .button {
  color: var(--accent-color);
  background-color: var(--footer-text-coclor);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
}

.button-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.button-list .button {
  transition: color var(--hover-transition),
    background-color var(--hover-transition), box-shadow var(--hover-transition);
}

.button-list .button:hover,
.button-list .button:focus {
  color: var(--white-color);
  background-color: var(--button-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list .link {
  text-decoration: none;
}
.card-text {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--white-color);
}
.team-item-text {
  margin-bottom: 8px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--hover-transition);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--button-hover-color);
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-acon,
.footer-soc-acon {
  fill: var(--background-secondary-section);
}

.project-card {
  width: calc((100% - 48px) / 3);
}
.project-card-image {
  position: relative;
  overflow: hidden;
}

.project-card-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--background-secondary-section);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--accent-color);
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--hover-transition);
  overflow: auto;
}

.project-card:hover .project-card-text,
.project-card:focus .project-card-text {
  transform: translateY(0);
}
.project-card:hover .card-text,
.project-card:focus .card-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card .card-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-left: 16px;
  transition: box-shadow var(--hover-transition);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.doing-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.doing-card {
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customer-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}
.customer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--hover-transition);
}
.customer-icon {
  fill: #afb1b8;
  transition: fill var(--hover-transition);
}
.customer-link:hover,
.customer-link:focus {
  border-color: var(--button-hover-color);
}
.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--button-hover-color);
}
.footer {
  background-color: var(--title-text-color);
  color: var(--footer-text-coclor);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: var(--background-secondary-section);
}

.footer .logo {
  display: block;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--footer-soc-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--hover-transition);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--footer-soc-bg-hover);
}
.footer-soc {
  display: block;
}

.logo-box {
  margin-right: 120px;
}
.soc-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--hover-transition),
    visibility var(--hover-transition);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--hover-transition);
}
.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--hover-transition);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--hover-transition);
}
.modal-close:hover {
  background-color: var(--button-hover-color);
}

.modal-close:hover .modal-icon {
  fill: var(--white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: none;
}
.modal-form {
  padding: 14px 24px 24px 24px;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}


.modal-field {
  margin-bottom: 8px;
}

.input-check{
  margin-bottom: 16px;
  margin-top: 8px;
}

.input-wrap {
  position: relative;
}
.modal-coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 8px 16px;
  resize: none;
}

.modal-coment::placeholder {
  font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: rgba(117, 117, 117, 0.5);
}
.input-text {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #8E8F99;
}
.input-text.name {
  line-height: 1.33;
  letter-spacing: 0.04em;
  }
  .modal-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
padding-top: 72px;
padding-left: 24px;
padding-right: 24px;
  }

  .check-text {
    font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #757575;
  }